<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ message }}</div>
                    <h1 v-on:click="llamar">holas</h1>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
         data(){
             return{
                 message: 'Hello Vue!'
             }
    
  },
        methods:{
            llamar(){
                alert('Hola')
            }
        }
    }
</script>
